<div class="delivery" id="moscow_delivery">
	<h3>Доставка</h3>
  <%= form_for @order, :url => cart_purchase_path, :html => {:id => "purchase_form_delivery_moscow"} do |f| %>
    <%= hidden_field 'order', 'delivery_type', :value => 'delivery_moscow' %>
      
    <div class="select_region"><a href="#" class="red_btn btn_big inactive_btn">По Москве</a><a href="#" class="violet_btn btn_big" id="switch_delivery_to_russia">По России</a></div>

    <p>Доставка осуществляется в пределах МКАД. Для оформления заказа заполните приведенную ниже форму.</p>

    <%= f.fields_for :customer do |cf| %>
      <div class="contact_info">
	      <h3>Контактная информация</h3>
    	  <p>
    	    <label>ФИО получателя<span>*</span></label><br />
    	    <%= cf.text_field 'name', :value => "Иванов Иван Иванович", :class => 'standart_inptxt', :onclick => "if(this.value=='Иванов Иван Иванович'){this.value='';}", :onblur => "if(this.value==''){this.value='Иванов Иван Иванович';}", :onkeydown => "setcolor(this,'#000')" %>
    	  </p>
    	
        <p>
          <label>Телефон</label><br />
          <%= cf.text_field 'phone', :value => "+7 (495) 549-09-95", :class => 'standart_inptxt', :onclick => "if(this.value=='+7 (495) 549-09-95'){this.value='';}", :onblur => "if(this.value==''){this.value='+7 (495) 549-09-95';}", :onkeydown => "setcolor(this,'#000')" %>
        </p>
                  
        <p>
          <label>Email<span>*</span></label><br />
          <%= cf.text_field 'email', :value => "name@example.ru", :class => 'standart_inptxt', :onclick => "if(this.value=='name@example.ru'){this.value='';}", :onblur => "if(this.value==''){this.value='name@example.ru';}", :onkeydown => "setcolor(this,'#000')" %>
        </p>
          
        <span class="info_txt"><span>*</span>Поля отмеченные звездочкой, обязательны для заполнения.</span>
      </div>
    <% end %>
    
    <fieldset>
      <div class="adress">
        <%= f.hidden_field 'address_index', :value => "" %>
        <%= f.hidden_field 'address_city', :value => "Москва" %>
        <%= f.hidden_field 'address_region', :value => "Москва" %>
        
      	<h3>Адрес</h3>
      	<ul>
          <li>
            <label>Улица</label><br />
            <%= f.text_field 'address_street', :class => "standart_inptxt grid4" %>
          </li>
          <li>
            <label>Дом</label><br />
            <%= f.text_field 'address_house', :class => "standart_inptxt grid1" %>
          </li>
          <li>
            <label>Корпус</label><br />
            <%= f.text_field 'address_part', :class => "standart_inptxt grid1" %>
          </li>
          <li>
            <label>Строение</label><br />
            <%= f.text_field 'address_build', :class => "standart_inptxt grid1" %>
          </li>
          <li>
            <label>Квартира (офис)</label><br />
            <%= f.text_field 'address_flat', :class => "standart_inptxt grid1" %>
          </li>
        </ul>
      </div>
    </fieldset>
    
    <fieldset>
    	<div class="comment">
    	  <h3>Комментарий</h3>
        
        <%= f.text_area 'comment' %>
        <input type="submit" value="Отправить" class="violet_submit" />
      </div>
    </fieldset>
    
  <% end %>
</div><!--.delivery-->
