<% content_for :page_javascript do %>
  $(document).ready(function() {
    $('#cart_link').click(function() {
      $('#cart_form').submit();
      return false;
    });
    
    $("#switch_delivery_to_russia").click(function(){
      $("#moscow_delivery").hide();
      $("#russia_delivery").show();
    
      return false;
    });
  
    $("#switch_delivery_to_moscow").click(function(){
      $("#russia_delivery").hide();
      $("#moscow_delivery").show();
    
      return false;
    }).click();
    
    $(".inactive_btn").click(function(){
      return false;
    });
    
    $(".order_purchase_button").click(function() {
      $(this).closest("form").submit();
      
      return false;
    });
  });
<% end %>

<% if @goods.empty? -%>
  <h3>Ваша корзина пуста</h3>
  <%= link_to "Перейти к товарам", root_url %>
<% else -%>
  <%= render :partial => 'cart_items' %>
  <% unless @order.errors.empty? -%>
    <div class="order_errors">
      <%= @order.errors.full_messages.join(", ") %>
    </div>
  <% end -%>
  <% unless order_delivery_price.nil? -%>
    <%= render :partial => 'russian_delivery' %>
    <%= render :partial => 'moscow_delivery' %>
  <% else -%>
    <%= render :partial => 'pickup' %>
  <% end -%>
<% end -%>