<p>
  Здравствуйте!
  Благодарим Вас за сделанный заказ в интернет-магазине мебели OLTIS.
<p>

<p>
  Номер Вашего заказа: <%= @order.number %>
</p>

<p>
Информация о заказе:
<table>
  <tr>
    <th>НАЗВАНИЕ</th> 
    <th>ВАРИАНТ ТОВАРА</th>
    <th>КОЛИЧЕСТВО</th>
    <th>СТОИМОСТЬ</th>
  </tr>

  <% @order.order_goods.each do |item| -%>
    <tr>
      <td><%= item.good.articul %></td>
      <td><%= item.good.category %></td>
      <td><%= item.good %></td>
      <td><%= item.count %></td>
      <td><%= item.price * item.count %></td>
    </tr>
  <% end -%>
</table>
</p>

<p>В течение рабочего дня наши менеджеры свяжутся с Вами для уточнения деталей.</p>

<p>
  Ваш интернет-магазин 
  <%= link_to "Zafran", root_url %>
</p>