<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= display_meta_tags :site => 'Proshafran' %>
  <!-- facebook OG meta -->
  <meta property="og:title" content="Proshafran.ru" />
  <meta property="og:description" content="Сайт посвященный шафрану. Здесь вы можете узнать про уникальные свойства шафрана и приобрести эту удивительную специю." />
  <meta property="og:url" content="<%= root_url %>" />
  <meta property="og:image" content="<%= image_path "site/zafran_social_pic.jpg" %>" />
  <meta property="og:site_name" content="Шафран" />
  <meta property="fb:admins" content="100001286098583" />
  <!-- -->
  
  <link rel="icon" href="<%= image_path 'site/favicon.ico' %>" type="image/x-icon">
  <%= stylesheet_link_tag    "application" %>
  <!--[if lte IE 6]>
  <%= javascript_include_tag "DD_belatedPNG.js" %>
  <script>
         DD_belatedPNG.fix(".iePNG,img");
  </script>
  <![endif]-->
  <!--[if IE]><%= stylesheet_link_tag "all_ie" %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    <%= yield :page_javascript %>
  <% end %>
<!--
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>

  <script type="text/javascript">
    VK.init({apiId: 2867553, onlyWidgets: true});
  </script>
-->  
  <%= csrf_meta_tags %>
</head>
<body>
<!--
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
-->  
  
  <span class="line1"></span><span class="line2"></span>
  <div id="page">
    <div id="header">
    	<div class="logo">
    	  <%= link_to image_tag('site/logo.jpg'), root_path %>
    	  <span class="logo_slogan">Как он есть...</span>
    	</div>
      
      <div class="head_right">
        <div class="cart">
          <div class="cart_top" id="cart_container">
            <%= render :partial => 'cart/mini'%>
          </div>
        </div>
        
        <div class="contacts">
          Или просто позвоните нам:
          <%=raw StaticPage.find_by_url_path('settings/phone').try(:content) %><br />
        </div>
      </div><!--.head_right-->
      <div class="clear"></div>
      
      <div class="menu">
        <ul id="jsddm">
          <% site_main_menu.each_with_index do |menu_item, i| -%>
            <% if menu_item.children.navigation.empty? -%>
              <li class="<%= i==site_main_menu.count-1 ? "last" : "" %>">
                <%= link_to menu_item.title, static_page(menu_item), 
                      :class => ((@page && @page == menu_item) ? "active" : nil) %>
              </li>
            <% else -%>
              <li class="dropmenu<%= i==site_main_menu.count-1 ? " last" : "" %>">
                <%= link_to menu_item.title, static_page(menu_item)#, 
                      #:class => ((@page && @page.self_and_ancestors[1] == menu_item) ? "active" : nil) 
                %>
                <div>
                  <ul>
                    <% menu_item.children.navigation.each do |submenu_item| -%>
                      <li>
                        <%= link_to submenu_item.title, static_page(submenu_item) %>
                      </li>
                    <% end -%>
                  </ul>
                </div>
              </li>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    </div><!--#header-->
    
    <div id="container">
      <div class="leftSide">
        <div class="left_menu">
          <h3>Все о шафране</h3>
          <ul>
            <% site_extra_menu.each_with_index do |menu_item, i| -%>
              <li class="<%= i==0 ? "first" : "" %>">
                <%= link_to menu_item.title, static_page(menu_item) %>
              
                <% if @page && @page.self_and_ancestors[1] == menu_item && !menu_item.children.navigation.empty? -%>
                  <ul>
                    <% menu_item.children.navigation.each do |submenu_item| -%>
                      <li>
                        <%= link_to submenu_item.title, static_page(submenu_item) %>
                      </li>
                    <% end -%>
                  </ul>              
                <% end -%>
              </li>
            <% end -%>
          </ul>
        </div>
      </div><!--.leftSide-->
      
      <div class="content">
        <div class="social_settings">
          <ul>
            <li>Вам нравится шафран?</li>
            <li style="width: 140px">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style " addthis:url="<%= root_url %>">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
              </div>
              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f5f42122541b536"></script>
              <!-- AddThis Button END -->
            <li>
<!--            
            <li>
              <div class="fb-like" data-href="http://zafran.ru/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
            </li>
            <li>
              <div id="vk_like"></div>
              <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "button"});
              </script>
            </li>
-->
          </ul>
        </div>
          	
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
       	<%= yield %>
      </div><!--.content-->
      <div class="clear"></div>
      
    </div><!--#container-->
    
    <div class="push"></div>
  </div><!--#page-->
  
  <div id="footer">
  	<span class="line1"></span>
  	<span class="line2"></span>
  	
  	<div class="footer">      
      <div style="float:left; margin-top: 20px;">
        <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='http://www.liveinternet.ru/click' "+
        "target=_blank><img src='//counter.yadro.ru/hit?t45.8;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";"+Math.random()+
        "' alt='' title='LiveInternet' "+
        "border='0' width='31' height='31'><\/a>")
        //--></script><!--/LiveInternet-->        
      </div>
      
      <span class="copyright" style="margin-left: -30px; height: 20px;">© Zafran.ru 2009-2012</span>
      
      <div class="contacts">
        Контактный телефон:
        <%=raw StaticPage.find_by_url_path('settings/phone').try(:content) %>
      </div>
      
      <div class="foot_menu">
      	<ul>
      	  <% site_main_menu.each_with_index do |menu_item, i| -%>
            <li>
              <%= link_to menu_item.title, static_page(menu_item), 
                    :class => (i==site_main_menu.count-1 ? "red" : nil) %>
            </li>            
          <% end -%>
        </ul>
      </div>
    </div>
  </div><!--#footer-->
  
  <div id="popup1" class="popup_block cart_popup">
  	<span class="title2">Вы добавили товар в корзину</span>
    <p>Теперь Вы можете</p>
    <p>
      <%= link_to "Оформить заказ", cart_path %> или
      <a href="#" class="close nohide">Продолжить выбор</a>
    </p>
  </div>
  
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//cdn.zopim.com/?bGSlM0MlDe3oDq0ODfKFJUJmQsnTBamN';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
</body>
</html>
